body {
    color:#82a5ca;
    margin:0;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}
#hero{
    background-image: url("galaxy.gif");
    background-size: cover;
    padding:10px 0 40px 0;

}
.btn{
    padding: 6px 12px;
    background: white;
    border: none;
    font-family: inherit;
    color: #82a5ca;
    font-weight: bold;/*Or we can give the value in it*/
}
.spn{
    border-bottom: 1px solid white;
    padding-bottom: 4px;
}
#logo
{
    width: 100px;
}


